<footer class="site-footer">
  <div class="inner">
    <br><br><hr>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
      </a><br>
      <p>Ésta página web esta hecha por <a xmlns:cc="http://creativecommons.org/ns#" href="https://nahuelbrandan.com" property="cc:attributionName" rel="cc:attributionURL">Nahuel Brandan</a> y tiene una licencia <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    <hr>
  </div>
</footer>
