<html>

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}" />
</head>

<body>
  {% include 'navbar.html' %}
  <h1 class='title'>Bienvenido a compartir alquiler!</h1>

  <p class='description'>
    En los tiempos que corren, los precios de alquiler son inviables para pagarse
    por una sóla persona, una buena alternativa es buscar a alguien para compartir los gastos.
    <br>
    Nuestro trabajo es emparejarte con la persona que más se adapte a tus necesidades.
  </p>

  <form action='{% url 'add_room' %}' method='GET'>
    <input type="submit" value="Publicá tu habitación disponible">
  </form>



</body>

</html>
