{% extends 'layout.html' %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <div class="how-section1">
    <div class="row">
      <div class="col-md-6 how-img1">
        <img src="{% static 'images/logo.png'%}" alt=""/>
      </div>
      <div class="col-md-6 how_description">
        <p class="description"> Somos una empresa familiar en la que no sólo proveemos servicios
          propios de peluqueria sino también maquillaje, painados para eventos, manicura, etc.<br>
          <b>Queremos que salgas de nuestro local en tu mejor versión, renovada y fresca.</b>
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 how_description">
        <p class="description">
          Nos avalan 30 años en el rubro y cientos de horas de múltiples y variadas capacitaciones.
        </p>
      </div>
      <div class="col-md-6 how-img2">
        <img src="{% static 'images/personal2.png'%}" alt=""/>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 how-img2">
        <img src="{% static 'images/fidelite.jpg'%}" alt=""/>
      </div>
      <div class="col-md-6 how_description">
        <p class="description">
          Contamos con venta de productos de primera calidad, promoviendo el continuo
          cuidado del cabello y piel de nuestros clientes.
        </p>
      </div>
    </div>
    <hr>
  </div>

  <div class="container">
    <p class="title_of_section"> Galeria: </p>
  	<div class="row">
  		<div class="row">
        {% for images in galery_images %}
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="{% static images %}"
                data-target="#image-gallery">
                <img class="img-thumbnail"
                      src="{% static images %}"
                      alt="peinados">
            </a>
          </div>
        {% endfor %}
      </div>

      <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="image-gallery-title"></h4>
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <img id="image-gallery-image" class="img-responsive col-md-12" src="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i></button>
              <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>
  	</div>
    <hr>
  </div>
















  <br><br><br><br><br><br><br><br><br><br><br>
  <div class="container">
    <h3 class="h3"> Productos destacados. </h3>
    <div class="row">
      {% for product in products %}
        <div class="col-md-3 col-sm-6">
          <div class="product-grid6">
            <div class="product-image6">
                <a href="product/{{product.id}}"><img src="{{product.principal_image.url}}"></a>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">{{product.title}}</a></h3>
              <div class="price">${{product.price}}</div>
            </div>
            <ul class="social">
              <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
              <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
              <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

<hr>

{% endblock %}
