{% extends 'layout.html' %}
{% block content %}
  {% load crispy_forms_tags %}

  <div class="center_form">
    <form action="/login/" method="POST">
        {% csrf_token %}
        <h1>Ingresar</h1>
        {{ form|crispy }}
        <button type="submit" class="btn btn-success btn-lg">Ingresar</button>
    </form>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endblock %}
