<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="white_" href="{% url 'home'%}">Compartir Alquiler</a> &nbsp;&nbsp;·&nbsp;&nbsp;

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>

    {% if is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'me'%}"><span class="glyphicon glyphicon-user"></span> {{username}}</a> &nbsp;&nbsp;·&nbsp;&nbsp;
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout'%}"><span class="glyphicon glyphicon-log-out"></span>Salir</a> &nbsp;&nbsp;·&nbsp;&nbsp;
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/register"><span class="glyphicon glyphicon-user"></span>Registrarse</a> &nbsp;&nbsp;·&nbsp;&nbsp;
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span>Ingresar</a> &nbsp;&nbsp;·&nbsp;&nbsp;
      </li>
    {% endif %}
  </div>
</nav>
