<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <a class="my-0 mr-md-auto text-dark font-weight-bold" href="{%url 'home'%}">{{company_name}}</a>

  <nav class="my-2 my-md-0 mr-md-3">
    {% if is_authenticated %}
      {% if is_superuser %}
        <a class="p-4 text-dark" href="{% url 'add_product'%}"><span class="glyphicon glyphicon-plus"></span> Agregar producto</a>
        <a class="p-4 text-dark" href="{% url 'add_service'%}"><span class="glyphicon glyphicon-plus"></span> Agregar servicio</a>
        <a class="p-4 text-dark" href="{% url 'me'%}"><span class="glyphicon glyphicon-user"></span> <b>Admin:</b> {{username}}</a>
      {% else %}
        <a class="p-4 text-dark" href="{% url 'me'%}"><span class="glyphicon glyphicon-user"></span> {{username}}</a>
      {% endif %}
      <a class="p-4 text-dark" href="{% url 'logout'%}"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
    {% else %}
      <a class="p-4 text-dark" href="{% url 'login'%}">Ingresar</a>
      <a class="p-4 text-dark" href="{% url 'register'%}">Registrarse</a>
    {% endif %}
  </nav>
</div>
