body, html {
  height: 100%;
}
.masthead {
  height: 50%;
  min-height: 500px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	position: relative;
  text-align: center;
}
.masthead .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.masthead h2 {
	color: #fff;
	font-family: 'Cormorant Garamond';
	font-size: 25px;
	font-weight: 200;
	line-height: 50px;
	margin-bottom: -40px;
	text-align: center;
	text-transform: uppercase;
}
.masthead h1 {
	color: #fff;
	font-family: 'Cormorant Garamond';
	text-decoration: underline;
	font-size: 60px;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: 10px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
}
.masthead p {
	color: #fff;
	font-family: 'Cormorant Garamond';
	font-size: 28px;
	font-style: italic;
	font-weight: 400;
	line-height: 48px;
	max-width: 640px;
	margin: 0 auto 48px;
	text-align: center;
}
.masthead a {
	color: #e66c7e;	border-bottom: 2px solid #e66c7e;
	font-family: 'Cormorant Garamond';
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: uppercase;
}
.masthead a:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}


.background_color_grey {
  background-color: #f5f5f0;
}

.background_color_pink {
  background-color: #fcf6f6;
  margin-top: -12%;
}

.user_info h3, h4 {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.gmap_canvas {
  border-style: solid;
  border-width: thin;
}

.center_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-section1 {
  margin-top:-10%;
  padding: 10%;
}
.how-section1 .row {
  margin-top: 3%;
}
.how-img1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.how-img2 img {
  width: 80%;
}
.how_description {
  margin: auto;
}

.how_description .description {
  background-color:  #f5f5f0;
}


.description {
  color: #333;
  text-align: center;
	font-family: 'Noto Serif';
	font-size: 20px;
	font-style: italic;
	font-weight: 500;
	line-height: 54px;
	margin-bottom: 24px;
	max-width: 600px;
	text-indent: 10px;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}
#image-gallery .modal-footer{
  display: block;
}
.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.title_of_section {
  color: #333;
  text-align: center;
  text-decoration: underline;
	font-family: 'Noto Serif';
	font-size: 40px;
	font-style: italic;
  font-weight: bold;
	font-weight: 500;
	line-height: 54px;
	margin-bottom: 5px;
}

.contact {
	color: #272623;
	font-family: 'Roboto Condensed';
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1px;
	margin-bottom: 48px;
	text-align: left;
}

.site-footer {
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  text-align: center;
  color: #999;
}
.site-footer a {
  color: #333;
}
.site-footer p {
	color: #979797;
}
