.background_color_grey {
  background-color: #f5f5f0;
}

.background_color_pink {
  background-color: #fcf6f6;
  margin-top: -12%;
}

.user_info h3, h4 {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.gmap_canvas {
  border-style: solid;
  border-width: thin;
}

.center_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-section1 {
  margin-top:-10%;
  padding: 10%;
}
.how-section1 .row {
  margin-top: 3%;
}
.how-img1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.how-img2 img {
  width: 80%;
}
.how_description {
  margin: auto;
}

.how_description .description {
  background-color:  #f5f5f0;  
}


.description {
  color: #333;
  text-align: center;
	font-family: 'Noto Serif';
	font-size: 20px;
	font-style: italic;
	font-weight: 500;
	line-height: 54px;
	margin-bottom: 24px;
	max-width: 600px;
	text-indent: 10px;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}
#image-gallery .modal-footer{
  display: block;
}
.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.title_of_section {
  color: #333;
  text-align: center;
  text-decoration: underline;
	font-family: 'Noto Serif';
	font-size: 40px;
	font-style: italic;
  font-weight: bold;
	font-weight: 500;
	line-height: 54px;
	margin-bottom: 5px;
}

.contact {
	color: #272623;
	font-family: 'Roboto Condensed';
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 1px;
	margin-bottom: 48px;
	text-align: left;
}
